.image{
    height: 200px;
    width: 200px;
   margin-top: 10px;
border-radius: 50%;
    
}
h5{
    color: rgb(68, 143, 187);
    font-weight: 700;
    font-size: 20px;
}

.cards{
    background-color: rgb(245, 245, 245);
    margin-top: 20px
    
}
.parent{
    width: 100%;
}
.details{
    margin-bottom: 5px;
    display: flex;
    font-weight: 600;
    justify-content: space-around;
}
.income{
    font-weight: 700;
    color:rgb(0, 152, 240) ;
}
/* button */
button{
    background-color: #FE6887;
    border: #FE6887;
    color: white;
padding: 8px 16px;
font-weight: 600;
margin-top: 5px;
}